In [1]:
%pylab notebook
from __future__ import print_function
import glob
import numpy as np
import pandas as pd
import re
import sys

/Users/brodzik/miniconda3/envs/charis/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

Populating the interactive namespace from numpy and matplotlib

In [9]:
filename="/Users/brodzik/charistools/source/charistools/test/test_files/cal_test_compare.out"
filename

'/Users/brodzik/charistools/source/charistools/test/test_files/cal_test_compare.out'

In [10]:
# Read the data and subset for just a couple columns
df = pd.read_table(filename, sep='\s+')
subdf = df.loc[:,['DRAINAGEID','YYYY','min_snow_ddf','max_snow_ddf','min_ice_ddf','max_ice_ddf']]
subdf

,DRAINAGEID,YYYY,min_snow_ddf,max_snow_ddf,min_ice_ddf,max_ice_ddf
0,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,11.00
1,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,11.00
2,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,11.00
3,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,13.00
4,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,13.00
5,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,13.00
6,AM_Vakhsh_at_Komsomolabad,2004,0.1,1.56,2.03,3.33
7,AM_Vakhsh_at_Komsomolabad,2005,0.1,1.56,2.03,3.33
8,AM_Vakhsh_at_Komsomolabad,2007,0.1,1.56,2.03,3.33
9,AM_Vakhsh_at_Komsomolabad,2004,3.0,5.44,2.36,3.33
10,AM_Vakhsh_at_Komsomolabad,2005,3.0,5.44,2.36,3.33
11,AM_Vakhsh_at_Komsomolabad,2007,3.0,5.44,2.36,3.33
12,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,11.00
13,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,11.00
14,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,11.00
15,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,13.00
16,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,13.00
17,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,13.00

In [11]:
# Make a new column with DDFs concatenated into a model string
subdf.loc[:,"model"] = (
    subdf["min_snow_ddf"].map(str) + "_" + 
    subdf["max_snow_ddf"].map(str) + "_" +
    subdf["min_ice_ddf"].map(str) + "_" +
    subdf["max_ice_ddf"].map(str))

subdf

,DRAINAGEID,YYYY,min_snow_ddf,max_snow_ddf,min_ice_ddf,max_ice_ddf,model
0,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,11.00,1.0_6.0_1.0_11.0
1,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,11.00,1.0_6.0_1.0_11.0
2,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,11.00,1.0_6.0_1.0_11.0
3,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,13.00,1.0_6.0_1.0_13.0
4,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,13.00,1.0_6.0_1.0_13.0
5,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,13.00,1.0_6.0_1.0_13.0
6,AM_Vakhsh_at_Komsomolabad,2004,0.1,1.56,2.03,3.33,0.1_1.56_2.03_3.33
7,AM_Vakhsh_at_Komsomolabad,2005,0.1,1.56,2.03,3.33,0.1_1.56_2.03_3.33
8,AM_Vakhsh_at_Komsomolabad,2007,0.1,1.56,2.03,3.33,0.1_1.56_2.03_3.33
9,AM_Vakhsh_at_Komsomolabad,2004,3.0,5.44,2.36,3.33,3.0_5.44_2.36_3.33
10,AM_Vakhsh_at_Komsomolabad,2005,3.0,5.44,2.36,3.33,3.0_5.44_2.36_3.33
11,AM_Vakhsh_at_Komsomolabad,2007,3.0,5.44,2.36,3.33,3.0_5.44_2.36_3.33
12,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,11.00,1.0_6.0_1.0_11.0
13,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,11.00,1.0_6.0_1.0_11.0
14,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,11.00,1.0_6.0_1.0_11.0
15,AM_Vakhsh_at_Komsomolabad,2004,1.0,6.00,1.00,13.00,1.0_6.0_1.0_13.0
16,AM_Vakhsh_at_Komsomolabad,2005,1.0,6.00,1.00,13.00,1.0_6.0_1.0_13.0
17,AM_Vakhsh_at_Komsomolabad,2007,1.0,6.00,1.00,13.00,1.0_6.0_1.0_13.0

In [ ]:
model = subdf["min_ice_ddf"].copy().map(str) + "_" + subdf["max_ice_ddf"].copy().map(str)
model

In [ ]:
subdf

In [ ]:
subdf["new"] = model

In [2]:
df = pd.DataFrame([[1.1,2.3,0.],[3.3,4.2,0.]],columns=['A','B','C'])
df

     A    B    C
0  1.1  2.3  0.0
1  3.3  4.2  0.0

In [4]:
subdf = df.loc[:,['A','B']]
subdf

     A    B
0  1.1  2.3
1  3.3  4.2

In [5]:
model = df["A"].map(str) + "_" + df["B"].map(str)
model

0    1.1_2.3
1    3.3_4.2
dtype: object

In [6]:
subdf["model"] = model

In [8]:
subdf

     A    B    model
0  1.1  2.3  1.1_2.3
1  3.3  4.2  3.3_4.2